
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.group:after {
  display: block; 
  height: 0; 
  font-size: 0; 
  content: "."; 
  clear: both; 
  visibility: hidden; 
} /* For clearing */
  
body {
  background-color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  text-align: center;
  position: relative;
  color: hsl(229, 6%, 66%);
}

.wrapper {
  display: grid;
  grid-template-columns: column;  
  margin: auto;     
}

header {
   padding: 50px 15px 0 15px;  
   margin: auto;
}

header h1 {
  font-weight: 200;
}

.header-bold {
  font-weight: 900;
}

header h2 {
  padding: 30px 15px 0 15px;  
  font-size: 1.2em;
  font-weight: 395;
}

h1, h2, h3 {
  color: hsl(234, 12%, 34%);
}
 
.main-card-wrapper {
  margin: auto;
  margin-bottom: 30px;
}

.card {
    margin: 3rem 1.8rem 3rem 1.8rem;
    padding: 1.5rem;
    font-size: 1em;
    font-weight: 400;
    background-color: white;
    color: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    text-align: left;    
    border-radius: 6px;        
    -webkit-box-shadow: 0px 13px 25px -13px rgba(160,184,214,1);
    -moz-box-shadow: 0px 13px 25px -13px rgba(160,184,214,1);
    box-shadow: 0px 13px 25px -13px rgba(160,184,214,1);    
}

h3 {
  padding-bottom: 10px;
}
.card-img{
  align-self: flex-end;
}

img {
  height: 5em;
  padding-top: 25px;
}

#super {
  border-top: 8px solid hsl(180, 62%, 55%);
}

#team {
  border-top: 8px solid hsl(0, 78%, 62%);
}

#karma {
  border-top: 8px solid hsl(34, 97%, 64%);
}

#calc {
  border-top: 8px solid hsl(212, 86%, 64%);
} 

footer {
  margin: auto;  
}

.attribution {
   font-size: .8em;
   text-align: center; 
   padding-bottom: 30px;
}

.attribution a {
   color: hsl(0, 78%, 62%); 
}


/* Media Queries */
@media (min-width: 630px) { 
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 1140px;                
    }
    
    header {
      width: 550px;
    }

    .main-card-wrapper {
      display: flex;        
      align-items: center;
      width: 100%;              
    } 

    .card-column {
      width: 100%;
        
    }


} 
